<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/StyleMain.css" />
</head>
<body>
    <header>
        <a id="LogoContainer" href="/Home/Index"><img id="logo" src="~/img/logo.png"/></a>
        <a id="UserContainer" href="/User"><img id="user" src="~/img/user.png"/></a>
    </header>
    @RenderBody()
</body>
</html>